.container-navbar-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  height: 40px;
}
.title-chat-navbar {
  margin-left: 20px;
  color: #0e5cad;
  font-weight: bolder;
  font-size: 30px;
}
.content-navbar-chat {
  margin-right: 0.5rem;
  font-weight: bolder;
  font-size: 25px;
}
.content-navbar-chat:active {
  color: white;
}
.content-navbar-chat-profile {
  background-color: #c2fbd7;
  border-radius: 100px;
  color:white;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-logout {
  font-weight: bolder;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}
.btm-logout:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
