@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.registerContainer-chatapp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  align-content: center;
  width: 100vw;
  height: 90vh;
  background-color: #222;
}
.form-chatapp {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  width: 15rem;
}
.title-signup-chatapp {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -6rem;
  font-size: 3rem;
  color: #593954;
  text-shadow: 2px 3px 7px rgb(146, 81, 135);
}
.form-register-chatapp {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  filter: drop-shadow(0 0 0.3rem rgb(20, 57, 220));
  font-weight: bolder;
  /* margin-top: 4rem; */
  flex-grow: 0.3;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 0.75rem;
  border-radius: 15px;

}
input[type='text'],
input[type='password'],
button{
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}