.container-header-doctors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.txt-header-doctors {
  text-align: center;
  margin-top: 6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  color: #f6fdfd;
}
/* .lst-doctors {
  background-image: radial-gradient(
    circle 244px at 90.9% 20.3%,
    rgb(59, 127, 129) 10%,
    rgb(134, 176, 196) 20%,
    rgb(206, 233, 248) 60.2%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
} */
.header-lst-doctors {
  margin-left: 4rem;
  margin-bottom: 2rem;
  display: flex;
}
.img-txt-lst-doc {
  margin-top: 2rem;
}
.img-features-doc {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* .img-features-doc:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
} */
.lst-top-txt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 3rem; */
  padding: 1rem;
}

.txt-lst-doctors {
  text-align: center;
  margin-top: 2rem;
  margin-left: 15px;
  font-size: 34px;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #024959;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(122, 114, 114, 0.5));
}
.content-lst-doctors {
  color: white;
  padding: 1rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
background-image: linear-gradient(to bottom, #b6609d 0%, #fef9d7 100%);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  width: 20rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.txt-name-doctor {
  font-size: larger;
  color: white;
  font-size: 30px;
}

.register-features-doc {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13rem;
  font-size: 1.8rem;
  /* flex: 1; */
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  border: 3px;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;

  transition: all 0.5s ease-out;
}
.register-features-doc:hover,
.register-features-doc:focus .register-features-doc::after {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.img-doctor {
  background-color: #f1ece7;
  border-radius: 5px;
  margin-top: 5px;
}
.content-doctors {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  

}
.photo-radu{
  margin-top:3rem;
}