@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.content-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tex-header {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 30px;
  justify-content: space-around;
  margin: 20%;
  text-align: center;
}
.h1-tex-header {
  background: rgba(31, 55, 121, 0.521);
  padding: 1rem;
}

.button-header {
  margin-top: 3rem;
}
.button-content-header-home {
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  color: #012e40;
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  border-radius: 30px;
  font-size: 35px;
}
.button-content-header-home:hover {
  background-image: linear-gradient(
    -225deg,
    #457197 0%,
    #b8dcff 48%,
    #457197 100%
  );
  color: white;
}
.container-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 4rem;
  padding: 2rem;
  border-radius: 2rem;
  font-family: 'Lora', serif;
  font-size: larger;
  filter: drop-shadow(0 0 0.5rem rgb(61, 112, 110));
}
.title-features-one {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-style: italic;
  color: #323d38;
}
.features-one {
  background-color: #aaccca;
  padding: 1rem;
  margin-left: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
  justify-content: center;
  border-radius: 2rem;
  width: 20rem;
}
.features-one:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}

.container-mission {
  background-image: linear-gradient(to top, #a4c8ec 40%, white 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: -4rem;
  padding: 2rem;
  border-radius: 5px;
  height: 15rem;
}
.text-mission {
  font-family: 'Lora', serif;
  font-style: italic;
  color: #233942;
  font-size: 2rem;
  width: 30rem;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}
.txt-mission {
  margin-top: 2rem;
}
.cat-mission {
  border-radius: 5px;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.container-features-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.features-two {
  width: 16rem;
  font-family: 'Lora', serif;
  font-size: 30px;
  background-image: linear-gradient(to top, #995678 0%, #bfd9fe 100%);

  filter: drop-shadow(0 0 0.75rem rgb(83, 22, 102));
  color: rgb(250, 250, 250);
  justify-items: center;
  text-align: center;
  padding: 1rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-bottom: 4rem;
  border-radius: 3px;
}
.features-two:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}
.container-features-three {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.features-three-txt {
  color: #4b7394;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  /* margin-bottom: 1rem; */
  padding: 0.3rem;
  text-shadow: 2px 3px 7px rgb(34, 87, 92);
}
.image-features-three {
  margin: 1rem;
}
.home-download-app {
  display: flex;
  flex-direction: row;
  text-shadow: 2px 3px 7px rgb(34, 87, 92);
  color: #4b7394;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  text-align: center;
  /* filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)); */
}
.img-home-download-app {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.text-home-download-app {
  margin-top: 10rem;
  margin-left: 5rem;
  justify-items: center;
  text-decoration: none;
}
.container-features-three {
  text-decoration: none;
  padding: 2rem;
  background-image: radial-gradient(
    circle 601px at 90% 110.7%,
    rgb(230, 185, 236) 45%,
    rgb(255, 255, 255) 50%
  );
}
.show-more-home-app {
  text-decoration: none;
  color: #303950;
  font-size: 3rem;
}
.show-more-home-app:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
.img-home-download-app {
  margin-left: 2rem;
}
.container-features-four {
  display: flex;
  flex-direction: wrap;
  text-align: center;
  justify-content: center;
  margin: 2rem;
  border-radius: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5rem;  
  text-decoration: none;
  color: #79717a;
  background-image: radial-gradient(
    circle 401px at 10% 125.7%,
    rgb(228, 149, 149) 45%,
    rgba(229, 234, 247, 0.5) 50%
  );
}

.container-features-four:hover {
  color: white;
}
.link-adopt {
  margin-top: 6rem;
  justify-content: space-between;
}
.link-adopt {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.link-adopt:active {
  color: #a68f97;
}
