.img-navbar {
  justify-items: center;
  margin-top: 0.5rem;
  margin-left:1.5rem;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.container-menu {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  background: linear-gradient(-45deg, #9292A6, #BDCFCC, #D0D0F7, #768792);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  justify-content: space-between;
  box-shadow: 0px -15px 10px 15px #111;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.items-navbar ul {
  display: flex;
}
.items-navbar {
  display: flex;
  margin: 20px;
}
.items-navbar li {
  margin: 0 0.5rem;
  list-style-type: none;
  text-shadow: 0 0.7px 0 rgba(255, 255, 255, 0.4);
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-size: 21px;
  font-weight: 3rem;
}
.items-navbar a {
  text-decoration: none;
  color: rgb(71, 70, 70);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0.30rem 0.30rem 0.4rem rgba(0, 0, 0, 0.5));
  padding: 0.3rem;
  border-radius: 10px;
}
.items-navbar a:hover {
  background-color: #7c7c83;
  color: white;
}
