.header-not-found {
  text-align: center;
  margin-top: 2.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: #4c645f;
}
.hyperlink {
  color: #63bdac;
}
