.container-services {
  display: flex;
  flex-direction: row;
  /* padding: 3rem; */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}
.services, .services2, .services3{
background-image: linear-gradient(to bottom, #f7f4f1 0%, #98c6db 100%);
 margin-left: 2rem;
 border-radius: 5px;
 padding: 1rem;

}
.services2, .services3{
 width: 40rem;
 /* height: 90vh; */
}

.img-service{
 justify-items: center;
}
.txt-services{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 60px;
 color: white;
}
.navigation-services a{
  background-color: #58493b;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
     filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));


}
.navigation-services{
 margin-top: 2rem;
 margin-bottom: 1rem;
}

.navigation-services:hover{
   transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}

.navigation-services a:hover, .navigation-services a:focus{
   background-color: #fff;
  color: #5e5145;
}